@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* NProgress custom styles */
#nprogress .bar {
  background: #3f51b5 !important; /* Match your theme's primary color */
  height: 3px !important;
}

#nprogress .peg {
  box-shadow:
    0 0 10px #3f51b5,
    0 0 5px #3f51b5 !important;
}
